<!DOCTYPE html>
<html ng-app="app">
<head>
  <link rel="stylesheet" href="css/examples.css" media="all">

  <script src="../libs/angular.js"></script>
  <script src="../src/select-key/select-key.js"></script>
  <script src="select-key-example-controller.js"></script>
</head>
<body ng-controller="TestController">
  <p><i>See beneath the examples for the data bound to controls.</i></p>
  <h3>Without select-key</h3>
  <pre class="code">
  &lt;select ng-model="user.role" ng-options="r.name for r in roles"&gt;
  </pre>
  <select ng-model="user.role" ng-options="r.name for r in roles">
    <option value="">Choose a role...</option>
  </select>
  <p>Here we see a typical problem when pre-selecting a dropdown with data returned from the server. Angular does not match $scope.user.role with the intended role in $scope.roles as it only compares objects by reference.</p>

  <h3>With select-key</h3>
  <pre class="code">
  &lt;select ng-model="user.role" key="id" ng-options="r.name for r in roles"&gt;
  </pre>
  <select ng-model="user.role" key="id" ng-options="r.name for r in roles">
    <option value="">Choose a role...</option>
  </select>
  <p>ngyn-select-key adds an attribute to the select element to specify a means to compare the items. This is typically just a property but runs through $scope.$eval so sub-properties such as <span class="code">type.id</span> and functions are also usable</p>

  <h3>With select-key (undefined key)</h3>
  <pre class="code">
  &lt;select ng-model="user.role" key="id" ng-options="r.name for r in roles"&gt;
  </pre>
  <select ng-model="user.role" key="undefined_key_value" ng-options="r.name for r in roles">
    <option value="">Choose a role...</option>
  </select>
  <p>If the supplied key value is undefined, no value should be chosen</p>

  <h3>Multi-select with select-key</h3>
  <pre class="code">
  &lt;select multiple ng-model="advancedUser.roles" key="id" ng-options="r.name for r in roles"&gt;
  </pre>
  <select multiple ng-model="advancedUser.roles" key="id" ng-options="r.name for r in roles">
    <option value="">Choose some roles...</option>
  </select>


  <p>Roles: <pre class="code">{{pp(roles)}}</pre></p>
  <p>User: <pre class="code">{{pp(user)}}</pre></p>
  <p>Advanced User: <pre class="code">{{pp(advancedUser)}}</pre></p>
</body>
</html>
