.codehilite  { background: #2B2B2B; color: #E6E1DC}
.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #BC9458; font-style: italic} /* Comment */
.codehilite .err { color: #E6E1DC} /* Error */
.codehilite .g { color: #E6E1DC} /* Generic */
.codehilite .k { color: #CC7833} /* Keyword */
.codehilite .l { color: #E6E1DC} /* Literal */
.codehilite .n { color: #E6E1DC} /* Name */
.codehilite .o { color: #E6E1DC} /* Operator */
.codehilite .x { color: #E6E1DC} /* Other */
.codehilite .p { color: #E6E1DC} /* Punctuation */
.codehilite .cm { color: #BC9458; font-style: italic} /* Comment.Multiline */
.codehilite .cp { color: #CC7833} /* Comment.Preproc */
.codehilite .c1 { color: #BC9458; font-style: italic} /* Comment.Single */
.codehilite .cs { color: #BC9458; font-style: italic} /* Comment.Special */
.codehilite .gd { color: #E6E1DC; background-color: #660000 } /* Generic.Deleted */
.codehilite .ge { color: #E6E1DC} /* Generic.Emph */
.codehilite .gr { color: #FFFFFF; background-color: #990000 } /* Generic.Error */
.codehilite .gh { color: #FFFFFF} /* Generic.Heading */
.codehilite .gi { color: #E6E1DC; background-color: #144212 } /* Generic.Inserted */
.codehilite .go { color: #E6E1DC} /* Generic.Output */
.codehilite .gp { color: #E6E1DC} /* Generic.Prompt */
.codehilite .gs { color: #E6E1DC} /* Generic.Strong */
.codehilite .gu { color: #FFFFFF} /* Generic.Subheading */
.codehilite .gt { color: #E6E1DC} /* Generic.Traceback */
.codehilite .kc { color: #CC7833} /* Keyword.Constant */
.codehilite .kd { color: #CC7833} /* Keyword.Declaration */
.codehilite .kn { color: #CC7833} /* Keyword.Namespace */
.codehilite .kp { color: #CC7833} /* Keyword.Pseudo */
.codehilite .kr { color: #CC7833} /* Keyword.Reserved */
.codehilite .kt { color: #DA4939} /* Keyword.Type */
.codehilite .ld { color: #E6E1DC} /* Literal.Date */
.codehilite .m { color: #A5C261} /* Literal.Number */
.codehilite .s { color: #A5C261} /* Literal.String */
.codehilite .na { color: #FFC66D} /* Name.Attribute */
.codehilite .nb { color: #E6E1DC} /* Name.Builtin */
.codehilite .nc { color: #E6E1DC} /* Name.Class */
.codehilite .no { color: #6D9CBE} /* Name.Constant */
.codehilite .nd { color: #E6E1DC} /* Name.Decorator */
.codehilite .ni { color: #E6E1DC} /* Name.Entity */
.codehilite .ne { color: #E6E1DC} /* Name.Exception */
.codehilite .nf { color: #FFC66D} /* Name.Function */
.codehilite .nl { color: #E6E1DC} /* Name.Label */
.codehilite .nn { color: #E6E1DC} /* Name.Namespace */
.codehilite .nx { color: #E6E1DC} /* Name.Other */
.codehilite .py { color: #E6E1DC} /* Name.Property */
.codehilite .nt { color: #CC7833} /* Name.Tag */
.codehilite .nv { color: #D0D0FF} /* Name.Variable */
.codehilite .ow { color: #E6E1DC} /* Operator.Word */
.codehilite .w { color: #E6E1DC} /* Text.Whitespace */
.codehilite .mf { color: #A5C261} /* Literal.Number.Float */
.codehilite .mh { color: #A5C261} /* Literal.Number.Hex */
.codehilite .mi { color: #A5C261} /* Literal.Number.Integer */
.codehilite .mo { color: #A5C261} /* Literal.Number.Oct */
.codehilite .sb { color: #A5C261} /* Literal.String.Backtick */
.codehilite .sc { color: #A5C261} /* Literal.String.Char */
.codehilite .sd { color: #A5C261} /* Literal.String.Doc */
.codehilite .s2 { color: #A5C261} /* Literal.String.Double */
.codehilite .se { color: #A5C261} /* Literal.String.Escape */
.codehilite .sh { color: #A5C261} /* Literal.String.Heredoc */
.codehilite .si { color: #A5C261} /* Literal.String.Interpol */
.codehilite .sx { color: #A5C261} /* Literal.String.Other */
.codehilite .sr { color: #A5C261} /* Literal.String.Regex */
.codehilite .s1 { color: #A5C261} /* Literal.String.Single */
.codehilite .ss { color: #A5C261} /* Literal.String.Symbol */
.codehilite .bp { color: #E6E1DC} /* Name.Builtin.Pseudo */
.codehilite .vc { color: #D0D0FF} /* Name.Variable.Class */
.codehilite .vg { color: #D0D0FF} /* Name.Variable.Global */
.codehilite .vi { color: #D0D0FF} /* Name.Variable.Instance */
.codehilite .il { color: #A5C261} /* Literal.Number.Integer.Long */