.ngyn-picker {
  border-style: solid;
  border-color: #BBBBBB;
  display: inline-block;
  cursor: text;"
  vertical-align: top;
  -moz-appearance:textfield;
  -webkit-appearance: textfield;
}

.ngyn-picker-selection {
  padding-left: 4px;
  padding-right:2px;
  margin-right:5px;
  border-radius:3px;
  background-color: rgb(238, 238, 238);
  float:left;
  cursor:default;
}
.ngyn-picker-options {
  background:white;
  max-height:200px;
  position: absolute;
  border:solid 1px rgb(180,180,180);
}
.ngyn-picker-option:hover, .ngyn-picker-option.selected {
  background-color: rgb(51, 153, 255);
  color:white;
  cursor:pointer;
}
.ngyn-picker-remove-selection {
  color:#888888;
  cursor:pointer;
}
.ngyn-picker-remove-selection:hover {
  color:#880000;
}
.ngyn-picker-add-selection {
  width:auto;
  display:inline-block;
  outline:none;
  min-width:40px;
  white-space: nowrap;
  margin:0;
  padding:0;
  border:0;
}
.ngyn-picker-placeholder {
  color:#aaaaaa;
}