<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/menu.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_railscasts.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="javascripts/main.js"></script>
    <title>ngyn by Configit</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header class="clearfix">
          <section style="float:left;" id="titles">
            <h1>ngyn</h1>
            <h2>Angular Extensions</h2>
          </section>

          <section style="float:right" id="downloads" class="clearfix">
            <a href="https://github.com/configit/ngyn/zipball/master" id="download-zip" class="button"><span>zip</span></a>
            <a href="https://github.com/configit/ngyn/tarball/master" id="download-tar-gz" class="button"><span>tarball</span></a>
            <a href="https://github.com/configit/ngyn" id="view-on-github" class="button"><span>Code</span></a>
          </section>
          <div class="buildStatus">
            <script type="text/javascript" src="http://build.configit.com/externalStatus.html?js=1&buildTypeId=bt55">
            </script>
            <div class="buildStatusLabel">Build Status:</div>
            </div>
        </header>

        <section id="menu" class="clearfix">
        <ul id="navbar">
          <!--<li><a href="#" title="Home">Home</a></li>-->
          <li><a href="javascript:void(0)" title="Modules">Modules</a>
          <ul>
            <li><a href="#resourceful_routing" title="Resourceful Routing">Resourceful Routing</a></li>
            <li><a href="#ngresource_extensions" title="ngResource Extensions">ngResource Extensions</a></li>
            <li><a href="#select_extensions" title="Select Extensions">Select Extensions</a></li>
          </ul>

          </li>
          <li><a href="javascript:void(0)" title="Directives"><span>Directives</span></a>
          <ul>
            <li><a href="#select2_directive" title="select2">Select2</a></li>
          </ul>
        </ul>
        </section>
        
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
          ngyn is maintained by <a href="https://github.com/configit">configit</a><br>
          Site based on tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>
        
      </div>
    </div>
  </body>
</html>
